<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edu-tatar-parser</title>
</head>
<body>
	<div id="app">
		
		<div v-if="state == 'login'">
			<input type="text" placeholder="login" v-model="login"><br>
			<input type="password" placeholder="password" v-model="password"><br>
			<button v-on:click="doLogin()">
				login
			</button>
		</div>

		<div v-if="state == 'main'">
			<table>
				<tr>
					<th>Lesson</th>
					<th colspan="100">Marks</th>
				</tr>

				<tr v-for="lesson in table">
					<td>{{ lesson.title }}</td>

					<td v-for="mark in lesson.marks">{{ mark }}</td>

				</tr>

			</table>
		</div>

	</div>
	
	<script src="https://vuejs.org/js/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="main.js"></script>

</body>
</html>